*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7bb4e6;
    color: white;
}

.to-do-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.to-do-list h1{
    font-size: 3rem;
    margin: 2rem 0;
}

.to-do-list input {

    font-size: 1.5em;
    border: 1px solid #ffffff00;
    border-radius: 5px;
    background-color: #84deeb;
    color: black;
    
}

.add-button{
    font-size: 1.5em;
    border: 1px solid #ffffff00;
    border-radius: 5px;
    background-color: #eb84c5;
    color: #ffffff;
    margin: 1rem;
}

.text{
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #ffffff;
    width: 60%;
    height: 30px;
    background-color: #efbcf1;
    border-radius: 5px;
    margin: 10px 15px;

}

.del-button{
    font-size: 1.5em;
    border: 1px solid #ffffff00;
    border-radius: 5px;
    background-color: #fa413e;
    color: #ffffff;
    margin: 0.3rem;
}

.move-up-button{
    font-size: 1.5em;
    border: 1px solid #ffffff00;
    border-radius: 5px;
    background-color: #84deeb;
    color: #ffffff;
    margin: 0.3rem;
}

.move-down-button{
    font-size: 1.5em;
    border: 1px solid #ffffff00;
    border-radius: 5px;
    background-color: #84deeb;
    color: #ffffff;
    margin: 0.3rem;
}

ol{
    list-style-type: none;
}